<a href="https://colab.research.google.com/github/scskalicky/SNAP-CL/blob/main/02_Do_Some_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assigning Variables**

Let's jump right into it. Run the code cells below and compare the outputs.

In [ ]:
print('some text is here')

In [ ]:
example = 'some more text is here'
example

In [ ]:
print(example)

In [ ]:
print(example + ' and here!')

**Your Turn**

1. Below, create a code cell and save some text to a variable. Give your variable a descriptive name. 

To save text to a variable, use this syntax:

> `variable_name = "text"`


2. Then, in a new code cell, use the `print()` function to print the value of your variable to the console. Use this syntax:

> `print(variable)`



---


# **Strings**

A string is a sequence of letters/characters. Basically, it represents text. In the cells above, we saved strings as values to our variable names. 

## **String delimiters**
As you've already seen, strings must be encased in quotes, and the quotes must match:
  - ‘ + ’ (single quotes)
  - “ + ”  (double quotes)
  - “‘ + ”’ (triple quotes)

What happens when you don’t have matching delimiters? Run the code cells below and compare the output.

In [ ]:
print('I'm so happy to be here!')

In [ ]:
print("I'm so happy to be here")

# **String Functions**

We can use built-in functions to perform basic operations on strings. For example:

> * `len(string)` = count the length of a string 
> * `string.upper()` = return a lowercase version of a string 
> * `string.lower()` = return an uppercase version of a string 
> * `string.title()` = return a title case version of a string 
> * `string.strip()` = strip all whitespace from a string 
> * `string.rstrip()` = strip all trailing whitespace from a string 
> * `string.lstrip()` = strip all leading whitespace from a string


For example:

In [2]:
# Print a lower case version

print('KIWI'.lower())

kiwi

In [3]:
# Count the length of a string

len('kiwi')

4

**Your Turn**

Save a string to a variable and try some of the functions listed above on your variable. Take note that `len()` requires putting the variable or string inside the brackets `(string)`, whereas the other functions require putting the variable or string first and typing the .function() afterwards.



---

# **Unpacking Strings**

Strings might look like sentence or phrases to us, and we can understand the differences between letters, punctuation, and whitespace. But computationally these are all variably equal **characters**, and as such a string in Python will be as long as the number of characters. 

For example, note how the length of the following two strings is different, even though the phrase is identical. Can you see why?

In [4]:
# Version 1
len('underneath it all')

17

In [5]:
# Version 2
len('underneath it all ')

18